body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 45%;
	left: 45%;
	animation: orbit 1s infinite ease-in;
}

.star {
	position: absolute;
	top: 60%;
	left: 60%;
	animation: spin 10s infinite;
}



@keyframes spin {
	0% {
		transform: rotate(360deg);
	}
	25%{
		transform: rotate(360deg);
	}
	50%{
		transform: rotate (360deg);
	}
}