body.space {
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	/* top: 45%;
	left: 45%; */
	animation: spin 15s linear infinite ;
}

#sun {
	position: absolute;
	width: 180px;
	height:180px;
}

#mercury {
	width: 30px;
	height: 30px;
	animation: mercury_orbit 2s linear infinite;
}

@keyframes mercury_orbit{

	0% {transform: rotate(0deg) translatex(130px);}
	100% {transform: rotate(360deg) translatex(130px);}
}

#venus {
	width: 40px;
	height: 40px;
	animation: venus_orbit 3s linear infinite;
}

@keyframes venus_orbit{
	0% {transform: rotate(0deg) translatex(180px);}
	100% {transform: rotate(360deg) translatex(180px);}
}

#earth {
	width: 60px;
	height: 60px;
	animation: earth_orbit 4.5s linear infinite
}

@keyframes earth_orbit {
	0% {transform: rotate(0deg) translatex(240px);}
	100% {transform: rotate(360deg) translatex(240px);}
}

#mars {
	width: 25px;
	height: 40px;
	animation: mars_orbit 8.4s linear infinite;
}

@keyframes mars_orbit{
	0% {transform: rotate(0deg) translatex(280px);}
	100% {transform: rotate(360deg) translatex(280px);}
}

#jupiter {
	width: 100px;
	height: 100px;
	animation: fatty_orbit 53s linear infinite;
}

@keyframes fatty_orbit {
	0% {transform: rotate(0deg) translatex(350px);}
	100% {transform: rotate(360deg) translatex(350px);}
}

#saturn {
	width: 90px;
	height: 90px;
	animation: saturn_orbit 131s linear infinite;
}

@keyframes saturn_orbit {
	0% {transform: rotate(0deg) translatex(450px);}
	100% {transform: rotate(360deg) translatex(450px);}
}

#uranus {
	width: 70px;
	height: 70px;
	animation: uranus_orbit 373s linear infinite;
}

@keyframes uranus_orbit {
	0% {transform: rotate(0deg) translatex(550px);}
	100% {transform: rotate(360deg) translatex(550px);}
}

#neptune {
	width: 65px;
	height: 65px;
	animation: neptune_orbit 731s linear infinite;
}

@keyframes neptune_orbit {
	0% {transform: rotate(0deg) translatex(650px);}
	100% {transform: rotate(360deg) translatex(650px);}
}

@keyframes spin{ 
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

